@page
@using AXHelper.Extensions
@using UltimateForum.Db.Models
@using UltimateForum.Razor.Db.Models
@using UltimateForum.Razor.Pages.User
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div style="max-width: 60rem" class="row mx-auto gap-md-0 gap-4">
    <div class="col-md-8 d-flex flex-column justify-content-center ">
        
        <h1 class="display-5 m-0">欢迎来到 @Model.Configuration["ForumName"]</h1>
        <div>@Model.Configuration["ForumDescription"]</div>
    </div>
    <div class="col-md-4">
        @if (HttpContext.Session.GetString("uid") is null)
        {
            <form id="login-form" method="post">
                <div class="card p-4 d-flex gap-2">
                    <span class="text-danger" asp-validation-for="@Model.Username" ></span>
                    <input placeholder="用户名" class="form-control" asp-for="@Model.Username"/>
                    <div asp-validation-summary="ModelOnly"></div>
                    <span class="text-danger" asp-validation-for="@Model.Password" ></span>
                    <input placeholder="密码" class="form-control"  asp-for="@Model.Password" type="password"/>
                    <div class="d-flex flex-row gap-1">
                        <button class="flex-grow-1 btn btn-primary" type="submit"  asp-page-handler="Login">登录</button>
                        <button class="flex-grow-1 btn btn-secondary">注册...</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="card p-4 d-flex gap-2">
                <h4>您已登录</h4>
                <div>欢迎回来，@Model.Username！</div>
                <form method="post">
                    <div class="d-flex flex-row gap-2">
                        <button class="btn btn-danger" type="submit" asp-page-handler="Logout">登出</button>
                        <a class="btn btn-primary"  asp-page="/User/ChangePassword">更改密码</a>
                        
                    </div> 
                    
                </form>
            </div>
        }
            

       
    </div>
</div>
<div style="max-width: 60rem" class="row mt-4 mx-auto">
    <table class="table table-bordered" id="boards">
        <thead>
        <tr>
            <td class="col-8">
                <div class="d-flex flex-row justify-content-between">
                    <span>板块</span>
                </div>
            </td>
            <td class="col-1 d-none d-md-table-cell">
                贴子
            </td>
            <td class="col-1 d-none d-md-table-cell">
                回复
            </td>
            <td class="d-none d-sm-table-cell">
                最新回复
            </td>
        </tr>
        </thead>
        <tbody>
        @foreach (Db.Models.Board b in Model.Boards)
        {
            <tr>
                <td>
                    <div >
                        <h5><a asp-page="/Board" asp-route-boardid="@b.Id">@b.Name</a></h5>
                        <div style="font-size: .7rem">@b.Description</div>
                    </div>
                   
                </td>
                <td class="text-center d-none d-md-table-cell">
                    <span>@Model.GetTopicCount(b.Id)</span>
                </td>
                <td class="text-center d-none d-md-table-cell">
                    <span>@Model.GetPostCount(b.Id)</span>
                </td>
                <td class="d-none d-sm-table-cell">
                    <span>
                        @{
                            var latest = Model.GetLatestPost(b.Id);
                            if (latest is null)
                            {
                                <span>板块中无话题</span>
                                
                            }
                            else
                            {
                                <div style="font-size: 12px">
                                    <div><a asp-page="/Topic" asp-route-TopicId="@latest.TopicId" asp-fragment="@latest.Id">Re: <strong >@latest.Topic.Title</strong></a></div>
                                    <div>By: <strong>@(latest.Creator?.Username ?? "匿名")</strong></div>
                                    <div class="text-secondary-emphasis">@latest.Content.ConcatEllipsisByChar(6)</div>
                                </div>
                                
                            }
                        }
                        
                    </span>
                </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>

<partial name="Validation"/>
