@page
@using System.Globalization
@using UltimateForum.Razor.Pages.Shared
@using UltimateForum.Razor.Pages.User
@model UltimateForum.Razor.Pages.Topic
@{
    ViewData["Title"] = Model.TopicData?.Title;
    <style>
        html{
            scroll-behavior: auto !important;
        }
    </style>
}

@section NavView
{
    
    <a asp-page="/Index" id="index" class="me-2">首页</a>
    /
    <a class="ms-2 me-2" id="board" asp-page="/Board"
       asp-route-boardid="@Model.TopicData?.BoardId">@Model.TopicData?.Board.Name</a>
    /
    <a asp-page="/Topic" id="topic" asp-route-topicid="@Model.TopicData?.Id" class="ms-2">@Model.TopicData?.Title</a>
}
<link rel="stylesheet" href="~/lib/highlight.js/styles/base16/windows-95.css">
<style>
    p {
        margin: 0;
    }
    pre{
        
        margin-bottom: 0; 
    }
</style>
<div style="max-width: 60rem" class="mx-auto">
    <div class="mb-3 ">
        <a asp-page="/Board" asp-route-boardid="@Model.TopicData?.Board.Id"> @{
                var e = "<==";
                <span>@e</span>
            }
            @Model.TopicData?.Board.Name</a>
    </div>
    <div class="d-flex justify-content-between align-items-baseline gap-3">
        <div class="d-flex gap-3">
            <a class="btn btn-primary btn-sm " asp-page="/WritePost" asp-route-topicid="@Model.TopicId">发布回复</a>
            <input placeholder="搜索" class="form-control form-control-sm w-auto"/>
        </div>
        <div>
            @if (Model.Username(HttpContext.Session.GetLong("uid")) is not null)
            {
                <a asp-page="/User/Home">@Model.Username(HttpContext.Session.GetLong("uid"))</a>
            }
            else
            {
                <div class="d-flex gap-3">
                    <a asp-page="/User/Login" id="topic-login-button">登录</a>
                    <a asp-page="/User/Register" id="topic-register-button">注册</a>

                </div>
            }
        </div>

    </div>
    <table style="table-layout: fixed;min-height: 15rem" class="border-dark-subtle p-3  table table-bordered mt-3 ">
        <tbody class="">
        <!-- Topic View -->
        <tr class="h-auto">
            <td class="p-3" style="overflow-wrap: break-word">
                <div>
                    <h2 class="mb-4">@Model.TopicData?.Title</h2>
                    <div class="pb-2" style="font-size: .7rem">作者：
                        @if (Model.TopicData?.Creater?.Username is null)
                        {
                            <span>已删除@@@Model.TopicData?.CreatedOn</span>
                        }
                        else
                        {
                            <a asp-page="/">@Model.TopicData.Creater.Username</a>
                            <span>@@@Model.TopicData?.CreatedOn</span>
                        }
                    </div>
                    <div style="font-size: .9rem" class="d-block text-wrap">@Html.Raw(Model.TopicData?.Content)</div>
                </div>
                <br/>

            </td>
            <td class="col-3 p-3">
                <div style="font-size: .7rem">
                    @if (Model.TopicData?.Creater is null)
                    {
                        <div>匿名或已删除</div>
                    }
                    else
                    {
                        @if (Model.TopicData.Creater.AvatarUuid is not null)
                        {
                            <img class="img-fluid"
                                 src="@Url.Page("/Topic", "Avatar", new { userUid = Model.TopicData.Creater.Id })"
                                 style="width: 7rem;object-fit: cover;height: 7rem;" alt="avatar"/>
                            <br/>
                        }

                        <a asp-page="/">@Model.TopicData.Creater.Username</a>
                        <div class="text-secondary-emphasis">加入：@Model.TopicData.Creater.Joined</div>
                    }


                </div>

            </td>
        </tr>
        <!-- End Topic View -->
        
        </tbody>
    </table>
    <div class="gap-3 d-flex flex-column">
        @foreach (var p in Model.TopicData?.Posts ?? [])
        {
            <div class="h-auto card border-0 bg-body-tertiary d-flex flex-row w-100 " id="@p.Id" style="scroll-margin-top: 65px;">
                <div class="container">
                    <div class="row">
                        <div class="p-3 col border-end">
                            <div>
                                <div class="p-0 m-0">@p.Title</div>
                                <div class="pb-2" style="font-size: .7rem">作者：

                                    <a asp-page="/">@(p.Creator?.Username ?? "已删除")</a>
                                    <span>@@@p.CreatedAt</span>

                                </div>
                                <div style="font-size: .9rem; ">
                                    <partial name="Shared/RenderPost" model="new RenderPost { DbContext = Model.DbContext, Content = p.Content }"/>
                                </div>
                            </div>
                            <hr/>
                            <div style="height: 2rem">

                            </div>

                        </div>
                        <div class="p-3 col-3">
                            <div style="font-size: .7rem">
                                @if (p.Creator?.AvatarUuid is not null)
                                {
                                    <img class="img-fluid"
                                         src="@Url.Page("/Topic", "Avatar", new { userUid = p.Creator.Id })"
                                         style="width: 7rem;object-fit: cover;height: 7rem;" alt="avatar"/>
                                    <br/>
                                }

                                <a asp-page="/">@(p.Creator?.Username ?? "已删除") </a>
                                <div class="text-secondary-emphasis">加入：@(p.Creator?.Joined.ToString(CultureInfo.CurrentCulture) ?? "已删除")</div>


                            </div>

                        </div>
                    </div>
                </div>
                

            </div>
        }
    </div>
    
</div>

@section Scripts
{
    <script>

        let id = location.hash.replace("#", "");
        if (id) {
            let title = document.getElementById(id).children[0].children[0].children[0].children[0].children[0].innerText;
            console.log(title);
            document.getElementById("topic").classList.add("me-2");
            document.getElementById("nav-view").innerHTML += `\n/<a class="ms-2" href='@Url.Page("/Topic", new { TopicId = Model.TopicData?.Id })#${id}'>${title}</a>`;
            console.log(document.getElementById("nav-view").innerHTML);
        }
        document.getElementById('topic-login-button').href += "?whereyouarefrom=" + encodeURIComponent(location.href);
        document.getElementById('topic-register-button').href += "?whereyouarefrom=" + encodeURIComponent(location.href);
    </script>
}