@page
@using System.Text.RegularExpressions
@using UltimateForum.Razor.Db.Models
@using UltimateForum.Razor.Pages.Shared
@using UltimateForum.Razor.Pages.User
@model UltimateForum.Razor.Pages.Topic
@{
    ViewData["Title"] = Model.TopicData?.Title;
}
@section NavView
{
    <a asp-page="/Index" id="index" class="me-2">首页</a>
    /
    <a class="ms-2 me-2" id="board" asp-page="/Board" asp-route-boardid="@Model.TopicData?.BoardId">@Model.TopicData?.Board.Name</a>
    /
    <a asp-page="/Topic" id="topic" asp-route-topicid="@Model.TopicData?.Id" class="ms-2">@Model.TopicData?.Title</a>
}

<div style="max-width: 60rem" class="mx-auto">
    <div class="mb-3">
        <a asp-page="/Board" asp-route-boardid="@Model.TopicData?.Board.Id"> @{ var e = "<==";<span>@e</span>} @Model.TopicData?.Board.Name</a>
    </div>
    <div class="d-flex justify-content-between align-items-baseline gap-3">
        <div class="d-flex gap-3">
            <a class="btn btn-primary btn-sm " asp-page="/WritePost" asp-route-topicid="@Model.TopicId">发布回复</a>
            <input placeholder="搜索" class="form-control form-control-sm w-auto"/>
        </div>
        <div>
            @if (Model.Username(HttpContext.Session.GetLong("uid")) is not null)
            {
                <a asp-page="/User/Home">@Model.Username(HttpContext.Session.GetLong("uid"))</a>
            }
            else
            {
                <div class="d-flex gap-3">
                    <a asp-page="/Login">登录</a>
                    <a asp-page="/Register">注册</a>

                </div>
            }
        </div>

    </div>
    <table class=" p-3 table  table-bordered mt-3">
        <tbody class="">
        <!-- Topic View -->
        <tr class="h-auto">
            <td class="p-3">
                <div>
                    <h2 class="mb-4">@Model.TopicData?.Title</h2>
                    <div class="pb-2" style="font-size: .7rem">作者：
                        @if (Model.TopicData?.Creater?.Username is null)
                        {
                            <span>未知或已删除@@@Model.TopicData?.CreatedOn</span>
                        }
                        else
                        {
                            <a asp-page="/">@Model.TopicData.Creater.Username</a>
                            <span>@@@Model.TopicData?.CreatedOn</span>
                        }
                    </div>
                    <div style="font-size: .9rem">@Model.TopicData?.Content</div>
                </div>
                <div style="height: 2rem">

                </div>

            </td>
            <td class="col-3 ">
                <div style="font-size: .7rem">
                    @if (Model.TopicData?.Creater is null)
                    {
                        <div>匿名或已删除</div>
                    }
                    else
                    {
                        @if (Model.TopicData.Creater.AvatarUuid is not null)
                        {
                            <img class="img-fluid"
                                 src="@Url.Page("/Topic", "Avatar", new { userUid = Model.TopicData.Creater.Id })"
                                 style="width: 2rem;height: 2rem;" alt="avatar"/>
                        }

                        <a asp-page="/">@Model.TopicData.Creater.Username</a>
                        <div class="text-secondary-emphasis">加入：@Model.TopicData.Creater.Joined</div>
                    }


                </div>

            </td>
        </tr>
        <!-- End Topic View -->
        @foreach (var p in Model.TopicData?.Posts ?? [])
        {
            <tr class="h-auto" id="@p.Id">
                <td class="p-3">
                    <div>
                        <div class="p-0 m-0">Re：@Model.TopicData?.Title</div>
                        <div class="pb-2" style="font-size: .7rem">作者：
                            @if (p.Creator is null)
                            {
                                <span>匿名或已删除@@@p.CreatedAt</span>
                            }
                            else
                            {
                                <a asp-page="/">@p.Creator.Username</a>
                                <span>@@@p.CreatedAt</span>
                            }
                        </div>
                        <div style="font-size: .9rem">
                         @if (Regex.Matches(p.Content, "\\$\\$\\[(.*?)\\]\\$\\$").Count == 0)
                         {
                            @p.Content
                         }
                         else
                         {
                             var stuffs = Helper.SplitWithDelimiter(p.Content, "\\$\\$\\[(.*?)\\]\\$\\$");
                             foreach (var stuff in stuffs)
                             {
                                 if (Helper.Evaluate(stuff) is Helper.TagType.Quote)
                                 {
                                     <partial name="Shared/RenderQuote" model="new RenderQuote(Model.DbContext, Helper.GetQuoteId(stuff))"/>
                                 }
                                 else
                                 {
                                    <span>@stuff</span>
                                     
                                 }
                             }
                         }
                        </div>
                    </div>
                    <div style="height: 2rem">

                    </div>

                </td>
                <td class="col-3 ">
                    <div style="font-size: .7rem" >
                        @if (p.Creator is null)
                        {
                            <div>匿名或已删除</div>
                        }
                        else
                        {
                            @if (p.Creator.AvatarUuid is not null)
                            {
                                <img class="img-fluid"
                                     src="@Url.Page("/Topic", "Avatar", new { userUid = p.Creator.Id })"
                                     style="width: 2rem;height: 2rem;" alt="avatar"/>
                            }

                            <a asp-page="/">@p.Creator.Username</a>
                            <div class="text-secondary-emphasis">加入：@p.Creator?.Joined</div>
                        }


                    </div>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        
            let id = location.hash.replace("#", "");
            if(id){
                let title = document.getElementById(id).children[0].children[0].children[0].innerHTML;
                console.log(title);
                document.getElementById("topic").classList.add("me-2");
                document.getElementById("nav-view").innerHTML += `\n/<a class="ms-2" href='@Url.Page("/Topic", new{TopicId=Model.TopicData?.Id})#${id}'>${title}</a>`;
                console.log(document.getElementById("nav-view").innerHTML);
            }
    </script>
}