@page
@using UltimateForum.Razor.Pages.Shared
@model UltimateForum.Razor.Pages.WritePost

<partial name="Validation"/>
<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked-highlight/lib/index.umd.js"></script>
<link rel="stylesheet" href="~/lib/highlight.js/styles/base16/windows-95.css">
<script src="~/lib/highlight.js/highlight.min.js"></script>
<script src="~/lib/monaco-editor/min/vs/loader.js" ></script>

<script >
    const { Marked } = globalThis.marked;
    const { markedHighlight } = globalThis.markedHighlight;
    let editorDoc = null;
    let parseFunc = null;
    function Init(parse){
        parseFunc = parse;
    }
    function CalledOnInput(){
        document.getElementById('rendered').innerHTML = parseFunc(editorDoc.getValue());
        document.getElementById('text-hidden').value = parseFunc(editorDoc.getValue());
    }
    require.config({ paths: { 'vs': '@Url.Content("~/lib/monaco-editor/min/vs")' } });
    require(['vs/editor/editor.main'], function () {
        editorDoc = monaco.editor.create(document.getElementById('editor'), {
            value: [
                'function hello() {',
                '\tconsole.log("Hello world!");',
                '}'
            ].join('\n'),
            language: 'markdown',
            theme: 'vs-dark',
            automaticLayout: true // Resizes if the container changes
        });
        
        console.log(editorDoc.getValue())
        editorDoc.setValue("");
      
        
        const markedCustom = new Marked(
            markedHighlight({
                emptyLangClass: 'hljs',
                langPrefix: 'hljs language-',
                highlight(code, lang){
                    const language = hljs.getLanguage(lang) ? lang : 'plaintext';
                    return hljs.highlight(code, { language }).value;
                }
            })

        )
        Init(markedCustom.parse)
        
        editorDoc.onDidChangeModelContent((e)=>{
            CalledOnInput();
        }) 
    });
    
    
</script>
<script type="module">
   
   
  </script>
<div class="display-6">发布回复</div>
<div class="container">
  
    <div class="row ">
        <div class="card bg-dark-subtle mt-2 p-3" id="rendered" style="min-height: 20rem;">

        </div>
        <div class="card d-block mt-2 p-3 bg-dark-subtle gap-2">
          

            <form method="post" asp-page-handler="PostPost" asp-route-topicid="@Model.TopicId">
                <span asp-validation-for="@Model.Title" class="text-danger mt-2"></span>
                <input asp-for="@Model.Title" class="form-control mt-2" value="Re: @Model.TopicData?.Title"/>
                <span asp-validation-for="@Model.Content" class="text-danger mt-2"></span>
                <textarea style="opacity: 0;height: 0;display: flex" class="p-0 border-0" asp-for="@Model.Content" id="text-hidden"></textarea>
                <div style="resize: none;height: 15rem" class="mt-2"  id="editor"></div>
                <button class="btn btn-primary btn-sm mt-2" type="submit">发送</button>
            </form>
        </div>

    </div>
</div>


<div >
 <table class=" p-3 table  table-bordered mt-3" style="table-layout: fixed">
    <tbody class="">
    <!-- Topic View -->
    <tr class="h-auto">
        <td class="p-3" style="overflow-wrap: break-word;" >
            <div>
                <h2 class="mb-4">@Model.TopicData?.Title</h2>
                <div class="pb-2" style="font-size: .7rem">作者：
                    @if (Model.TopicData?.Creater?.Username is null)
                    {
                        <span>未知或已删除@@@Model.TopicData?.CreatedOn</span>
                    }
                    else
                    {
                        <a asp-page="/">@Model.TopicData.Creater.Username</a>
                        <span>@@@Model.TopicData?.CreatedOn</span>
                    }
                </div>
                <div style="font-size: .9rem;" class="d-block">@Model.TopicData?.Content</div>
            </div>
            <div style="height: 2rem">

            </div>

        </td>
        <td class="col-3 ">
            <div style="font-size: .7rem">
                @if (Model.TopicData?.Creater is null)
                {
                    <div>匿名或已删除</div>
                }
                else
                {
                    @if (Model.TopicData.Creater.AvatarUuid is not null)
                    {
                        <img class="img-fluid"
                             src="@Url.Page("/Topic", "Avatar", new { userUid = Model.TopicData.Creater.Id })"
                             style="width: 2rem;height: 2rem;" alt="avatar"/>
                    }

                    <a asp-page="/">@Model.TopicData.Creater.Username</a>
                    <div class="text-secondary-emphasis">加入：@Model.TopicData.Creater.Joined</div>
                }


            </div>

        </td>
    </tr>
    <!-- End Topic View -->
    @foreach (var p in Model.TopicData?.Posts ?? [])
    {
        <tr class="h-auto" id="@p.Id">
            <td class="p-3">
                <div>
                    <div class="p-0 m-0 d-flex justify-content-between"><span>Re：@Model.TopicData?.Title</span><button onclick='(()=>{
                        editorDoc.setValue(editorDoc.getValue() + "$$[!quote content=\"@p.Id\"]$$") ;
                        CalledOnInput();
                    })()'>引用</button></div>
                    <div class="pb-2" style="font-size: .7rem">作者：
                        
                            <a asp-page="/">@(p.Creator?.Username ?? "已删除")</a>
                            <span>@@@p.CreatedAt</span>
                        
                    </div>
                    <div style="font-size: .9rem">
                        <partial name="Shared/RenderPost" model="new RenderPost { DbContext = Model.Db, Content = p.Content }"/>
                    </div>
                </div>
                <div style="height: 2rem">

                </div>

            </td>
            <td class="col-3 ">
                <div style="font-size: .7rem" >
                    @if (p.Creator is null)
                    {
                        <div>已删除</div>
                    }
                    else
                    {
                        @if (p.Creator.AvatarUuid is not null)
                        {
                            <img class="img-fluid"
                                 src="@Url.Page("/Topic", "Avatar", new { userUid = p.Creator.Id })"
                                 style="width: 2rem;height: 2rem;" alt="avatar"/>
                        }

                        <a asp-page="/">@p.Creator?.Username</a>
                        <div class="text-secondary-emphasis">加入：@p.Creator?.Joined</div>
                    }
                </div>

            </td>
        </tr>
    }
    </tbody>
</table>
   
</div>
